* {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
  color: #0d78bf;
}

a p:hover {
  color: #ff5718 ;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin: 0 !important;
}

.mb-1{
  margin-bottom: 1rem !important;
}

.mb-2{
  margin-bottom: 2rem;
}

.mb-3{
  margin-bottom: 3rem;
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-3{
  margin-top: 3rem;
}

.font {
  font-family: Montserrat, sans-serif !important;
  color: rgba(28, 29, 32, 0.753497);
}

.btn {
  text-transform: capitalize !important;
  font-family: Montserrat, sans-serif !important;
  margin-right: 0.5rem !important;
}

.btn-primary {
  background-color: #ff5718 !important;
  color: #ffff !important;
  padding: 1rem 2rem !important;
  margin-top: 1rem !important;
  border-radius: 7px;
  font-weight: 700 !important;
}

.read-btn {
  background: rgba(28, 29, 32, 0.0686735) !important;
  border-radius: 20px !important;
  padding: 0 1rem !important;
  color: rgba(28, 29, 32, 0.9);
}

.mitra {
  padding: 1rem 0 !important;
  border-radius: 7px !important;
  border: 1px solid rgba(28, 29, 32, 0.03) !important;
}

.mitra:hover {
  border: 0.736429px solid #0d78bf !important;
}

.medsos {
  color: #ffff;
}

.icon-btn {
  background: rgba(28, 29, 32, 0.3) !important;
  margin: 0 0.5rem !important;
}

.icon-btn:hover {
  background: #0d78bf !important;
}

.footer-judul {
  margin-bottom: 1rem;
  font-weight: 700;
}

.bold {
  font-weight: 600;
}

.footer-wrap {
  margin: 2rem 0 !important;
}

.wrap {
  padding: 1rem 0;
}

.t-center {
  text-align: center !important;
}

.bayar {
  height: 1.5rem;
  margin: 0 0.5rem;
}

.justify {
  text-align: justify;
}

.kartu{
  border: 0.5px solid rgba(28, 29, 32, 0.15) !important;
  box-shadow: 0px 6px 6px rgba(28, 29, 32, 0.04) !important;
  border-radius: 1rem !important;
}

.kurikulum{
  border-radius: 7px !important;
  border: 0.7px solid rgba(28, 29, 32, 0.128961) !important;
  margin: .3rem 0 !important;
  box-shadow: 0px 3px 6px rgba(28, 29, 32, 0.0485686) !important;
}

.color-icon{
  color: rgba(28, 29, 32, 0.3) !important;
}

/*Mobile*/
@media (max-width: 600px) {
  html {
    font-size: 62.5%;
    /* font-size: 75%; */
  } /*10px*/

  body {
    font-weight: 400;
    line-height: 1.75;
    color: #333333;
  }

  p {
    margin-bottom: 1rem;
    color: rgba(28, 29, 32, 0.8);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    /* margin: 3rem 0 1.38rem; */
    font-weight: 600;
    line-height: 1.3;
    color: var(--primary);
  }

  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small,
  .text_small {
    font-size: 0.8rem;
  }
}

/*Tablet*/
@media (min-width: 601px) {
  html {
    font-size: 87.5%;
  } /*14px*/

  body {
    font-weight: 400;
    line-height: 1.75;
    color: #333333;
  }

  p {
    margin-bottom: 1rem;
    color: rgba(28, 29, 32, 0.896689);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 600;
    line-height: 1.3;
    color: var(--primary);
  }

  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small,
  .text_small {
    font-size: 0.8rem;
  }
}

/*Desktop*/
@media (min-width: 961px) {
  html {
    font-size: 100%;
  }

  body {
    font-weight: 400;
    line-height: 1.75;
    color: #333333;
  }

  p {
    margin-bottom: 1rem;
    color: rgba(28, 29, 32, 0.896689);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    /* margin: 3rem 0 1.38rem; */
    font-weight: 600;
    line-height: 1.3;
    color: var(--primary);
  }

  h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
    font-weight: 800;
  }

  h4 {
    font-size: 1.563rem;
    font-weight: 800;
  }

  h5 {
    font-size: 1.25rem;
  }

  small,
  .text_small {
    font-size: 0.8rem;
  }
}
